
html{
	background: url('../images/vineyard.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.container{
	margin: auto;	

}

.when{

	text-align: center;
	margin: 0 auto;
	padding-top:5%;
	width: auto;
}

.Intro{
	
	text-align: center;
	margin: auto;
	padding-top:2px;
}

.Intro h1.Welcome{

	font-family: 'Zeyada', cursive;
	font-size: 75px;
	color: #fff;
	letter-spacing: .10em;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-shadow: 2px 2px #282828;
}

.join{
	font-size: 50px;
}

p.Married{
	font-size: 37px;
	text-transform: uppercase;
	font-family: 'Neuton', serif;
	font-weight: 300;
	color: #fff;
	margin-top:32px;
	text-shadow: 2px 2px #282828;
	letter-spacing: .07em;
}

.divider{

padding-top:5%;
}

#menuwrapper {
    
	width: 750px;
    height: auto;
	padding-top: 30px;
	margin: 0 auto;
    left:0;
    right:0;
    text-align: center;
    padding-right: 50px;
}


.navlist li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 20px;
	

}


.navlist li a{
	
	font-family: 'Neuton', serif;
	font-weight: 300;
	list-style: none;
	color: #fff;
	font-size: 17 px;
	letter-spacing: .07em;
	text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

	.leftwing{
		display: none;
	}

	.rightwing{
		display:none;
	}

	.when {
		width:50%;
	}
}
