
html{

  background: url('../images/vineyard.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
	
	margin: auto;
}

.when{

	text-align: center;
	margin: auto;
	padding-top:5%;
}

.Intro{
	
	text-align: center;
	margin: auto;
	padding-top:2px;
}

.Intro h1.Welcome{

	font-family: 'VineyardMagazines';
	font-size: 83px;
	color: #fff;
	letter-spacing: .10em;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-shadow: 2px 2px #282828;
}

.join{
	font-size: 50px;
}

p.Married{
	font-size: 37px;
	text-transform: uppercase;
	font-family: 'Neuton', serif;
	font-weight: 300;
	color: #fff;
	margin-top:32px;
	text-shadow: 2px 2px #282828;
	letter-spacing: .07em;
}

.divider{

padding-top:5%;
}

div.navbar{

	width: 100%;
	height: 35px;
	background-color: #fff;
	opacity: .50;
	position: absolute;
	top:0;
}


#menuwrapper {
    height: auto;
    margin: 0 auto;
    left:0;
    right:0;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}


.navlist li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 20px;
	

}


.navlist li a{
	
	text-decoration: none;
	font-family: 'Neuton', serif;
	font-weight: 300;
	list-style: none;
	color: #fff;
	font-size: 21px;
	letter-spacing: .07em;
	
}
